/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

* {
  /* border: 2px solid red; */
  /* box-sizing: border-box; */
}

.App {
  padding: 55px 0;
}

.carousel-caption {
  top:40% !important
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;
  background-color: rgb(235, 227, 227);
  font-size: smaller;
}

.gig-card>a, .notification-card>a, .talent-card>a, .talent-excerpt {
  text-decoration-style: none;
  color: black
}

.gig-card a:hover, .notification-card a:hover, .talent-card a:hover, .talent-excerpt:hover{
  text-decoration: none;
  color: inherit;
}

.card-sm-text {
  font-size: smaller;
}

.notification-badge {
  position: relative;
  right: 10px;
}

.small-date {
  font-size: x-small;
}

.notification-card {
  position: relative;
}

.unread-notification {
  background-color: rgba(226, 240, 254, 0.4);
}

.sqr-image-container{
  width: 7rem;
  max-height: 7rem;
  overflow: hidden;
}

.sqr-image-container img{
  object-fit: cover;
}

.hide-div {
  display: hidden;
}

.link-like {
  cursor: pointer;
}

.text-smaller {
  font-size: smaller;
}

.text-larger {
  font-size: larger;
  /* font-weight: bolder */
}

.line-less:hover{
  text-decoration: none;
}

.full-size {
  width: 100%;
  height: 100%;
}

/* .graph-container {
  background-color: rgb(231, 225, 225);
} */

.message-container {
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  background-color: aliceblue;
}

.message-container::-webkit-scrollbar {
  display: none;
}

.chat-list {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-container {
  /* background-color: rgb(223, 243, 243); */
}

.message-box {
  border-radius: 1rem;
  max-width: 80%;
  
}

.box-right{
  background-color:rgba(135, 206, 250, 0.8)
}

.box-left{
  background-color: rgba(213, 223, 219, 0.8)
}

.no-display{
  display: none;
}

.dropdown-del {
  position: absolute;
  right: -1.5rem;
  top: 1.7rem;
  background-color: white;
  font-size: smaller;
}



.image-container {
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;  
}

.small-image-container {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;  
}

.image-container img, .small-image-container img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  
}

.slide-container {
  max-height: 70vh;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 800px) {

  .image-container {
    width: 8rem;
    height: 8rem;
  }

}

